/* Sass Imports*/
@import './variables';
@import './resets';
@import './maps';
@import './functions';
@import './mixin';

/*Sass Functions*/


/*Sass in Action*/
 body{

    /* Color from _variables.scss*/
     background: $primary-color;
     color: $text-color;
     margin: 10px;
    
 }

 .flex-container{
    /*flexCenter from _mixin.scss */
    @include flexCenter(row);

    width: 98%;
    margin: 0 auto;

     
    /*Nested HTML div with class="logo_div". See position!*/
    .div_one{

        /*Function from _function.scss*/
        font-weight: weight(medium);
        background-color: $secondary-color;
        width: 90%;
        margin: 2px 2px ;
        text-align: center;
        line-height: 75px;

        
        &:hover{
            /*Nested inside of .logo_div*/
            color: $primary-color;
        }
    }

    /*mixin for mobile friendly devices*/
    @include mobile{
        flex-direction: column;
    }
 }

 /*class for theme mixin*/
 .light{
    @include theme($light-theme: true);
 }